/* Cтили, заданные по умолчанию */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #4b5d68;
  font-family: "Avenir";
  font-weight: 500;
}

a {
  display: block;
  text-decoration: none;
  font-family: "Avenir";
  font-weight: 500;
  color: #4b5d68;
  font-size: 1rem;
}

.link--active {
  color: #212353;
  font-weight: 900;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img--full-width {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 70rem;
  min-width: 320px;
}

/* I */

/* // Cтили, заданные по умолчанию */
.row {
  display: flex;
}

.row--column {
  flex-direction: column;
}

.row--space-between {
  justify-content: space-between;
}

.row--justify-center {
  justify-content: center;
}

.row--align-center {
  align-items: center;
}

.row--align-start {
  align-items: flex-start;
}

.col {
  width: 50%;
}

.col--gap {
  width: 47%;
}

.title {
  font-family: "Helvetica";
  font-size: 5rem;
  font-weight: 700;
  color: #212353;
}

.header__title {
  margin-bottom: 3.125rem;
}

.text {
  font-size: 1.125rem;
  letter-spacing: 0.6px;
  line-height: 1.8rem;
}

.text--white {
  color: #fff;
}

.rel {
  position: relative;
}

/* header */
.header {
  position: relative;
  margin-bottom: 6.19rem;
  padding-top: 3.875rem;
  padding-bottom: 6.25rem;
}

.logo {
  position: relative;
  width: 49px;
  height: 35px;
}

.logo::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9c69e2;
  z-index: 1;
}

.logo::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background-color: #f063b8;
  z-index: 1;
}

.header__logo {
  margin-right: 121px;
}

.header__nav {
  margin-bottom: 143px;
}

.nav__link {
  margin-right: 40px;
}

.nav__link:last-child {
  margin-right: 0;
}

.header__content {
  position: relative;
  max-width: 58%;
}

.header__text {
  margin-bottom: 3.125rem;
  width: 59%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem 2.31rem;
  border-radius: 50px;
  background-color: #9c69e2;
  font-family: "Avenir";
  font-size: 1.125rem;
  font-weight: 900;
  color: #fff;
}

.header__img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-21%, -10%);
  width: 79%;
  z-index: -1;
}

/* // header */

/* main */
.main__section {
  margin-bottom: 9.375rem;
}

.main__article {
  margin-bottom: 150px;
  padding: 32px 93px 32px 16px;
  border-radius: 50px;
  background: #f063b826;
}

.article__title {
  margin-bottom: 40px;
}

.title--sub {
  font-size: 2.5rem;
}

.title--under {
  font-weight: 400;
  font-size: 1.5rem;
}

.main__title {
  margin-bottom: 50px;
}

.section__desc {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 56%;
  text-align: center;
}

.article__items {
  margin-bottom: 50px;
}

.article__items:last-child {
  margin-bottom: 0;
}

.item {
  display: flex;
}

.item__content {
  position: relative;
  padding: 55px 62px 40px 0;
  height: 100%;
  border-top-right-radius: 50px;
  border-radius: 0 50px 50px 0;
}

.item--green-light {
  background-color: #f0faf9;
}

.item--green-light::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -121%);
  width: 75%;
  height: 38%;
  background: url(../img/main/items/curve.png) no-repeat center/contain,
    url(../img/main/items/ellipse.png) no-repeat 41% 21%/18%;
}

.item--purple-light {
  background-color: #f6f0fd;
}

.item--purple-light::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-51%, -18%) scale(-1, -1);
  width: 75%;
  height: 40%;
  background: url(../img/main/items/curve.png) no-repeat center/contain;
}

.item--pink-light {
  background-color: #fef0f8;
}

.item--blue-light {
  background-color: #eaf6fc;
}

/* Скошенная левая сторона карточки */
.item__content::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-35%) skew(-10deg, 0);
  transform-origin: right;
  height: 100%;
  width: 100%;
  border-radius: 50px 0 0 50px;
  background-color: inherit;
  z-index: -1;
}

.item__text {
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: -0.2px;
  line-height: 1.6rem;
}

.item__link {
  margin-right: 20px;
}

.item__img-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slider */
.slider {
  padding: 109px 93px 60px;
  background-color: #9c69e2;
  border-radius: 50px;
}

.slider__title {
  margin-bottom: 5.5rem;
}

.slider__item {
  padding: 60px 70px 50px;
  width: 69%;
  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
}

.slider__img-wrapper {
  margin-right: 30px;
  width: 18%;
  border-radius: 50%;
}

.slider__img {
  object-fit: cover;
  object-position: center;
}

.slider__desc {
  width: 76.24%;
}

.slider__item-title {
  margin-bottom: 1.1875rem;
}

.slider__name {
  font-weight: 900;
  color: #212353;
}

.slider__link {
  font-size: 0.875rem;
  color: #9c69e2;
}

.slider__text {
  font-size: 1.125rem;
  font-family: "AvenirRoman";
  line-height: 2.025rem;
}

/* //Slider */

/* // main */
